<p>
  <strong>First Name:</strong>
  <%= @driver_application.first_name %>
</p>
<p>
  <strong>Last Name:</strong>
   <%= @driver_application.last_name %>
</p>

<p>
  <strong>DOB:</strong>
   <%= @driver_application.dob %>
</p>
<p>
  <strong>Street:</strong>
   <%= @driver_application.street %>
</p>
<p>
  <strong>City:</strong>
   <%= @driver_application.city %>
</p>
<p>
  <strong>State:</strong>
   <%= @driver_application.state %>
</p>
<p>
  <strong>Postal Code:</strong>
   <%= @driver_application.postal %>
</p>
<p>
  <strong>Phone:</strong>
   <%= @driver_application.phone %>
</p>
<p>
  <strong>Email:</strong>
   <%= @driver_application.email %>
</p>

<h2>Equipment</h2>
<p>
  <strong>Year:</strong>
   <%= @driver_application.year %>
</p>
<p>
  <strong>Make:</strong>
   <%= @driver_application.make %>
</p>
<p>
  <strong>Model:</strong>
   <%= @driver_application.model %>
</p>
<p>
  <strong>Color:</strong>
   <%= @driver_application.color %>
</p>
<p>
  <strong>Vin:</strong>
   <%= @driver_application.vin %>
</p>
<p>
  <strong>Mileage:</strong>
   <%= @driver_application.mileage %>
</p>
