<p id="notice"><%= notice %></p>

<p id="notice"><%= notice %></p>



<iframe width="854" height="480" src="<%= @video.url %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
