
<%= simple_form_for(@app_setting) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :tab_name %>
    <%= f.input :navbar_style, collection: AppSetting::NavbarColor, label: "Select a color", include_blank: "Select a color" %>
    <%= f.input :to_email1 %>
    <%= f.input :to_email2 %>
    <%= f.input :to_email3 %>
    <%= f.input :name %>
    <%= f.input :street %>
    <%= f.input :city %>
    <%= f.input :postal %>
    <%= f.input :state %>
    <%= f.input :phone %>
    <%= f.input :fax %>
    <%= f.input :email %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
  