
<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
      <%= f.input :string1 %>
      <%= f.input :string2 %>
      <%= f.input :string3 %>
      <%= f.input :string4 %>
      <%= f.input :string5 %>
      <%= f.input :string6 %>
      <%= f.input :string7 %>
      <%= f.input :string8 %>
      <%= f.input :string9 %>
      <%= f.input :string10 %>
    <%= f.input :about1 %>
    <%= f.input :about2 %>
    <%= f.input :about3 %>
    <%= f.input :about4 %>
    <%= f.input :about5 %>
    <%= f.input :about6 %>
    <%= f.input :about7 %>
    <%= f.input :about8 %>
    <%= f.input :about9 %>
    <%= f.input :about10 %>
    <%= f.input :about11 %>
    <%= f.input :about12 %>
    <%= f.input :about13 %>
    <%= f.input :about14 %>
    <%= f.input :about15 %>
    <%= f.input :about16 %>
    <%= f.input :about17 %>
    <%= f.input :about18 %>
    <%= f.input :about19 %>
    <%= f.input :about20 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
