<p id="notice"><%= notice %></p>

<h1>Pages</h1>

<table>
  <thead>
    <tr>
      <th>Page</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>

        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>


<div class="row">
  <div class="col-sm-3">
    <h4>Import Loads</h4>
    <%= form_tag import_pages_path, multipart: true do %>
    <%= file_field_tag :file, class: "btn btn-success btn-xs" %><br>
    <%= submit_tag "Upload Loads", class: "btn btn-info btn-xs" %>
    <% end %>
  </div>
  <div class="col-sm-4">
    <h4>Export Loads</h4>
    <%= link_to "Download Loads", pages_path(format: :csv), 
      class: "btn btn-primary btn-xs round" %> 
  </div>
</div>