<!-- begin #about -->
<div id="about" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container" data-animation="true" data-animation-type="fadeInDown">
      <h2 class="content-title"><%= @page.about1 %></h2>
      <p class="content-desc">
          <%= @page.about2 %><br />
          <%= @page.about3 %>
      </p>
      <!-- begin row -->
      <div class="row">
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-6">
          <!-- begin about -->
          <div class="about">
            <h3><%= @page.about4 %></h3>
            <p>
                <%= @page.about5 %>
            </p>
            <p>
                <%= @page.about6 %>
            </p>
          </div>
          <!-- end about -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-6">
          <h3><%= @page.about7 %></h3>
          <!-- begin about-author -->
          <div class="about-author">
            <div class="quote bg-silver">
              <i class="fa fa-quote-left"></i>
              <h3><%= @page.about8 %><br /><span><%= @page.about9 %></span></h3>
              <i class="fa fa-quote-right"></i>
            </div>
            <div class="author">
              <div class="image">
                <img src="../assets/img/user/user-1.jpg" alt="Sean Ngu" />
              </div>
              <div class="info">
                  <%= @page.about10 %>
                <small><%= @page.about11 %></small>
              </div>
            </div>
          </div>
          <!-- end about-author -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-12">
          <h3><%= @page.about12 %></h3>
          <!-- begin skills -->
          <div class="skills">
            <div class="skills-name"><%= @page.about13 %></div>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" style="width: <%= @page.about14 %>%">
                <span class="progress-number"><%= @page.about14 %>%</span>
              </div>
            </div>
            <div class="skills-name"><%= @page.about15 %></div>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" style="width: <%= @page.about16 %>%">
                <span class="progress-number"><%= @page.about16 %>%</span>
              </div>
            </div>
            <div class="skills-name"><%= @page.about17 %></div>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" style="width: <%= @page.about18 %>%">
                <span class="progress-number"><%= @page.about18 %>%</span>
              </div>
            </div>
            <div class="skills-name"><%= @page.about19 %></div>
            <div class="progress progress-striped">
              <div class="progress-bar progress-bar-success" style="width: <%= @page.about20 %>%">
                <span class="progress-number"><%= @page.about20 %>%</span>
              </div>
            </div>
          </div>
          <!-- end skills -->
        </div>
        <!-- end col-4 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end #about -->