<!-- begin #contact -->
<div id="contact" class="content bg-silver-lighter" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
      <h2 class="content-title"><%= @page.string21 %></h2>
      <p class="content-desc">
          <%= @page.string22 %><br />
          <%= @page.string23 %>
      </p>
      <!-- begin row -->
      <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6" data-animation="true" data-animation-type="fadeInLeft">
          <h3><%= @page.string24 %></h3>
          <p>
              <%= @page.string25 %>
          </p>
          <p>
            <strong><%= @page.string26 %></strong><br />
            <%= @page.string27 %><br />
            <%= @page.string28 %><br />
            <%= @page.string29 %><br />
          </p>
          <p>
            <span class="phone"><%= @page.string30 %></span><br />
            <a href="mailto:<%= @page.string31 %>"><%= @page.string31 %></a>
          </p>
        </div>
        <!-- end col-6 -->
        <!-- begin col-6 -->
        <div class="col-md-6 form-col" data-animation="true" data-animation-type="fadeInRight">
          
            <div class="form-group">
            <%= simple_form_for @incoming_contact do |ic| %>
              <label class="control-label col-md-3">Name <span class="text-theme">*</span></label>
              <div class="col-md-9">
                <%= ic.input :name, label: false %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Email <span class="text-theme">*</span></label>
              <div class="col-md-9">
                <%= ic.input :email, label: false %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3">Message <span class="text-theme">*</span></label>
              <div class="col-md-9">
                <%= ic.input :message, label: false %>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3"></label>
              <div class="col-md-9 text-left">
              <%= ic.submit "Send Message", class: "btn btn-theme btn-block" %>

                <% end %>
              </div>
                  </div>
        <!-- end col-6 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end #contact -->