<!-- begin #milestone -->
<div id="milestone" class="content bg-black-darker has-bg" data-scrollview="true">
    <!-- begin content-bg -->
    <div class="content-bg">
      <img src="../assets/img/bg/bg-milestone.jpg" alt="Milestone" />
    </div>
    <!-- end content-bg -->
    <!-- begin container -->
    <div class="container">
      <!-- begin row -->
      <div class="row">
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-3 milestone-col">
          <div class="milestone">
            <div class="number" data-animation="true" data-animation-type="number" data-final-number="<%= @page.string32 %>"><%= @page.string32 %></div>
            <div class="title"><%= @page.string33 %></div>
          </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-3 milestone-col">
          <div class="milestone">
            <div class="number" data-animation="true" data-animation-type="number" data-final-number="<%= @page.string34 %>"><%= @page.string34 %></div>
            <div class="title"><%= @page.string35 %></div>
          </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-3 milestone-col">
          <div class="milestone">
            <div class="number" data-animation="true" data-animation-type="number" data-final-number="<%= @page.string36 %>"><%= @page.string36 %></div>
            <div class="title"><%= @page.string37 %></div>
          </div>
        </div>
        <!-- end col-3 -->
        <!-- begin col-3 -->
        <div class="col-md-3 col-sm-3 milestone-col">
          <div class="milestone">
            <div class="number" data-animation="true" data-animation-type="number" data-final-number="<%= @page.string38 %>"><%= @page.string38 %></div>
            <div class="title"><%= @page.string39  %></div>
          </div>
        </div>
        <!-- end col-3 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end #milestone -->