<!-- begin #footer -->
<div id="footer" class="footer">
    <div class="container">
      <div class="footer-brand">
          <%= link_to root_path do %>
          <span class=""><%= image_tag "traxx_logos/SVG/svg_logo_footer.svg" %></span>
          
          <% end %> 
      </div>
      <p>
        &copy; Copyright <%= Time.now.strftime("%Y")%> <%= @page.string46 %>  <br />
        <span><%= link_to "Terms of Use", terms_path, target: :_blank %></span> |     
        <span><%= link_to "Privacy Policy", privacy_path, target: :_blank %></span>
        

        <%= @page.string47 %> <a href="<%= @page.string40 %>"><%= @page.string48 %></a>
      </p>
      <p class="social-list">


        <%= link_to "http://#{@page.string41}", target: :_blank do %> 
        <i class="fab fa-facebook-square fa-fw"></i> 
        <% end %>
        <%= link_to "http://#{@page.string42}", target: :_blank do %> 
        <i class="fab fa-twitter-square fa-fw"></i>
        <% end %>
        <%= link_to "http://#{@page.string43}", target: :_blank do %> 
        <i class="fab fa-instagram fa-fw"></i>
        <% end %>
        <%= link_to "http://#{@page.string44}", target: :_blank do %> 
        <i class="fab fa-google-plus-square fa-fw"></i>
        <% end %>
        <%= link_to "http://#{@page.string45}", target: :_blank do %> 
        <i class="fab fa-linkedin fa-fw"></i>
        <% end %>
      </p>
    </div>
  </div>
  <!-- end #footer -->