<!-- begin #footer -->
<div id="footer" class="footer">
    <div class="container">
      <div class="footer-brand">
          <%= link_to root_path do %>
          <span class=""><%= image_tag "traxx_logos/SVG/svg_logo_footer.svg" %></span>
          
          <% end %> 
      </div>
      <p>
        &copy; Copyright <%= Time.now.strftime("%Y")%> <%= @page.string46 %>  <br />
        <%= @page.string47 %> <a href="<%= @page.string40 %>"><%= @page.string48 %></a>
      </p>
      <p class="social-list">
        <a href="<%= @page.string41 %>"><i class="fab fa-facebook-square fa-fw"></i></a>
        <a href="<%= @page.string42 %>"><i class="fab fa-instagram fa-fw"></i></a>
        <a href="<%= @page.string43 %>"><i class="fab fa-twitter-square fa-fw"></i></a>
        <a href="<%= @page.string44 %>"><i class="fab fa-google-plus-square fa-fw"></i></a>
        <a href="<%= @page.string45 %>"><i class="fab fa-linkedin fa-fw"></i></a> 
      </p>
    </div>
  </div>
  <!-- end #footer -->