<!-- begin #team -->
<div id="team" class="content" data-scrollview="true">
    <!-- begin container -->
    <div class="container">
      <h2 class="content-title"><%= @page.string49 %></h2>
      <p class="content-desc">
        <%= @page.string50 %><br /> 
        <%= @page.string51 %>
      </p>
      <!-- begin row -->
      <div class="row">
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-4">
          <!-- begin team -->
          <div class="team">
            <div class="image" data-animation="true" data-animation-type="flipInX">
              <img src="../assets/img/user/user-1.jpg" alt="<%= @page.string52 %>" />
            </div>
            <div class="info">
              <h3 class="name"><%= @page.string52 %></h3>
              <div class="title text-theme"><%= @page.string53 %></div>
              <p><%= @page.string54 %></p>
              <div class="social">
                  <a href="<%= @page.string45 %>"><i class="fab fa-linkedin fa-fw"></i></a> 
                  <a href="<%= @page.string41 %>"><i class="fab fa-facebook-square fa-fw"></i></a>
                  <a href="<%= @page.string43 %>"><i class="fab fa-twitter-square fa-fw"></i></a>
                </div>
            </div>
          </div>
          <!-- end team -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-4">
          <!-- begin team -->
          <div class="team">
            <div class="image" data-animation="true" data-animation-type="flipInX">
              <img src="../assets/img/user/user-2.jpg" alt="<%= @page.string52 %>" />
            </div>
            <div class="info">
              <h3 class="name"><%= @page.string55 %></h3>
              <div class="title text-theme"><%= @page.string56 %></div>
              <p><%= @page.string57 %></p>
              <div class="social">
                  <a href="<%= @page.string45 %>"><i class="fab fa-linkedin fa-fw"></i></a> 
                  <a href="<%= @page.string41 %>"><i class="fab fa-facebook-square fa-fw"></i></a>
                  <a href="<%= @page.string43 %>"><i class="fab fa-twitter-square fa-fw"></i></a>
                </div>
            </div>
          </div>
          <!-- end team -->
        </div>
        <!-- end col-4 -->
        <!-- begin col-4 -->
        <div class="col-md-4 col-sm-4">
          <!-- begin team -->
          <div class="team">
            <div class="image" data-animation="true" data-animation-type="flipInX">
              <img src="../assets/img/user/user-3.jpg" alt="<%= @page.string58 %>" />
            </div>
            <div class="info">
              <h3 class="name"><%= @page.string58 %></h3>
              <div class="title text-theme"><%= @page.string59 %></div>
              <p><%= @page.string60 %> </p>
              <div class="social">
                <a href="<%= @page.string45 %>"><i class="fab fa-linkedin fa-fw"></i></a> 
                <a href="<%= @page.string41 %>"><i class="fab fa-facebook-square fa-fw"></i></a>
                <a href="<%= @page.string43 %>"><i class="fab fa-twitter-square fa-fw"></i></a>
              </div>
            </div>
          </div>
          <!-- end team -->
        </div>
        <!-- end col-4 -->
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end #team -->