<!DOCTYPE html>
<html>
  <head>
    <title><%= @app_setting.tab_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />

    <%= stylesheet_link_tag 'pages/bootstrap3/css/bootstrap.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'pages/animate/animate.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  
    <%= stylesheet_link_tag 'pages/one-page-parallax/style.css', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'pages/one-page-parallax/style-responsive.css', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'pages/one-page-parallax/theme/default.css', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'pages/pace/pace.min.js', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'pages/application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'pages/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-spy="scroll" data-target="#header-navbar" data-offset="51">
  <div id="page-container" class="fade">

    <%= yield %>

  </div>
  <!-- end #page-container -->

  <%= javascript_include_tag 'pages/bootstrap3/js/bootstrap.min.js', 'data-turbolinks-track': 'reload' %>

	<!--[if lt IE 9]>
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag 'pages/js-cookie/js.cookie.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'pages/scrollMonitor/scrollMonitor.js', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'pages/apps.js', 'data-turbolinks-track': 'reload' %>

	
	<script>    
	    $(document).ready(function() {
	        App.init();
	    });
	</script>
  </body>
</html>


